.tag.posts .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    margin-top: 1rem;
}

.tag.posts {
    margin: 2rem 0;
}

@media (min-width: 768px) {
    .tag.posts .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        margin-top: 2rem;
    }
}