.gradient-block {
    background: linear-gradient(90deg, rgba(231,212,60,1) 0%, rgba(226,158,132,1) 38%, rgba(182,109,178,1) 57%, rgba(60,89,232,1) 84%, rgba(0,10,184,1) 100%);
    height: 1rem;
}

/* Header */
header.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

/* Logo */
.logo {
    display: inline-block;
    height: 22px;
    margin: 30px;
    margin-left: 40px;
}

.menu {
    margin-bottom: 20px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 30px;
    font-weight: bold;
}

.menu a:hover{
    background-color: lightcyan;
}

.nav button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.nav button:hover {
    border-color: lightgrey;
    color: lightgray;
    cursor: pointer;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 40px;
}


.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.container {
    margin: 0px 1.5rem;
}


/** Post **/
.post .post-image img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
}

.post .post-head {
    margin-top: 0.2rem;
}

.post .post-head h3 {
    font-size: 1.2rem;
    font-weight: medium;
}

.post .post-head .post-title:hover {
    text-decoration: underline;
}

.post .post-head span {
    color: rgb(63, 63, 167);
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.post .post-head p {
    font-size: small;
    font-weight: normal;
    margin-top: 0.2rem;
    line-height: 1.2rem;
}

.post .post-head .post-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.post .post-head .post-svg-link {
    width: 16px;
    fill: black;
    stroke: black;
    stroke-width: 3px;
}

.post .post-head .post-tags ul {
    display: flex;
    font-size: 0.8rem;
    font-weight: medium;
    margin-top: 0.5rem;
    gap: 5px;
}

.post .post-head .post-tags li.tag {
    padding: 5px 10px;
    color: blue;
    border: 1px solid blue;
    border-radius: 10px;
}

/** Footer **/

.footer .footer-sections {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 24px;
    margin: 1.5rem;
    font-size: 14px;
}

.footer h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.footer .footer-sections .footer-newsletter .footer-newsletter-form {
    margin-top: 1rem;
    display: flex;
    width: 100%;
}

.footer .footer-sections .footer-newsletter .footer-newsletter-form input {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1;
}

.footer .footer-sections .footer-newsletter .footer-newsletter-form input::placeholder {
    color: gray;
}

.footer .footer-sections .footer-newsletter .footer-newsletter-form button {
    border: 1px solid transparent;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.footer .footer-sections .footer-links a {
    text-decoration: underline;
}

.footer .footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
    color: gray;
    font-size: 14px;
}

.footer .logo {
    margin: 0.5rem;
}


/* Responsiveness */
@media (min-width: 768px) {

    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        display: flex;
        margin-right: 20px;
        align-items: center;
    }

    .menu {
        margin-bottom: 0;
    }

    .menu li{
        float: left;
    }

    .menu a {
        padding: 30px 20px;
    }

    .menu a:hover{
        background-color: transparent;
        color: lightslategray;
        
    }
    
    .hamb{
        display: none;
        padding: 30px 20px;
    }

    .container {
        margin: 0px 5rem;
    }

    .footer .footer-sections {      
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        margin: 2.5rem 5rem;
    }

    .footer .logo {
        margin: 1rem 2.5rem;
    }

}